---
import { ModeToggle } from "@/components/color-mode-toggle";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Heading from "./_home/sections/heading.astro";
import Navbar from "./_home/components/navbar";
---

<BaseLayout title="Welcome to Modulara">
  <main class="relative">
    <!-- <div class="flex items-center justify-end top-10 right-5 absolute">
			<ModeToggle client:load/>
		</div> -->
    <!-- <Scene client:only="react"/> -->
    <div class="fixed z-20 mx-auto w-full"><Navbar client:load /></div>
    <div class="fixed w-full">
      <Heading />
    </div>
    <div class="h-screen bg-transparent"></div>
    <div class="relative z-10">
      <div class="w-full h-screen bg-black text-white grid place-content-center">content</div>
      <div class="w-full h-screen bg-[#F3EEE6] grid place-content-center">content</div>
    </div>
  </main>
</BaseLayout>
