---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "./_home/navbar";
import { getImage, Image } from "astro:assets";
import About from "./_home/sections/about.astro";
import Features from "./_home/sections/features.astro";
import Models from "./_home/sections/models";
import Hero from "./_home/sections/hero";
import Contact from "./_home/sections/contact";
import Footer from "./_home/sections/footer";

const images = [
  { src: "/renders/MVP - Almond.jpg", alt: "Modulara MVP Almond", width: 1920, height: 1080 },
  { src: "/renders/MVP - Mint.jpg", alt: "Modulara MVP Mint", width: 1920, height: 1080 },
  { src: "/renders/MVP - Monochrome.jpg", alt: "Modulara MVP Monochrome", width: 1920, height: 1080 },
  { src: "/renders/MVP - Oreo.jpg", alt: "Modulara MVP Oreo", width: 1920, height: 1080 },
  { src: "/renders/MVP - Twilight.jpg", alt: "Modulara MVP Twilight", width: 1920, height: 1080 },
  { src: "/renders/MVP - Vanilla.jpg", alt: "Modulara MVP Vanilla", width: 1920, height: 1080 },
  { src: "/renders/MVP - Watermelon.jpg", alt: "Modulara MVP Watermelon", width: 1920, height: 1080 },
  { src: "/renders/MVP - Whiskey.jpg", alt: "Modulara MVP Whiskey", width: 1920, height: 1080 },
];

const optimizedImages = await Promise.all(
  images.map(async (image) => {
    const optimizedImage = await getImage({ src: image.src, format: "webp", width: image.width, height: image.height });
    return { src: optimizedImage.src, alt: image.alt };
  })
);
---

<BaseLayout title="Home │ Modulara">
  <main class="relative">
    <div class="fixed z-20 mx-auto w-full">
      <Navbar client:only="react" />
    </div>
    <section class="relative h-screen max-h-[100svh] bg-transparent" id="hero">
      <div class="fixed top-0 w-full">
        <Hero images={optimizedImages} client:load />
      </div>
    </section>
    <div class="relative z-10">
      <About />
      <Features />
      <Models client:load images={optimizedImages} />
      <Contact client:load />
      <Footer client:load />
    </div>
  </main>
</BaseLayout>
