---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "./_home/components/navbar";
import { getImage, Image } from "astro:assets";
import Hero from "./_home/sections/hero";
import About from "./_home/sections/about.astro";
import Features from "./_home/sections/features.astro";
import Models from "./_home/sections/models";
const images = [
  { src: "/renders/render-1.png", alt: "Modulara Render 1" },
  { src: "/renders/render-20.png", alt: "Modulara Render 5" },
  { src: "/renders/render-2.png", alt: "Modulara Render 2" },
  { src: "/renders/render-3.png", alt: "Modulara Render 3" },
  { src: "/renders/render-4.png", alt: "Modulara Render 4" },
];
// TODO: Optimize images
// const optimizedImages = await Promise.all(
//   images.map(async (image, index) => {
//     return  await getImage({src: image , format: "webp", alt: `Modulara Render ${index + 1}`});
//   })
// );
---

<BaseLayout title="Welcome to Modulara">
  <main class="relative">
    <div class="fixed z-20 mx-auto w-full">
      <Navbar client:only="react" />
    </div>
    <section class="relative h-screen bg-transparent" id="hero">
      <div class="fixed top-0 w-full bg-[#9B5841]">
        <Hero images={images} client:load />
      </div>
    </section>
    <div class="relative z-10">
      <About />
      <Features />
      <Models client:load />
    </div>
  </main>
</BaseLayout>
