---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "./_home/navbar";
import { getImage, Image } from "astro:assets";
import About from "./_home/sections/about.astro";
import Features from "./_home/sections/features.astro";
import Models from "./_home/sections/models";
import HeroV2 from "./_home/sections/hero-v2";
import HeroCarousel from "./_home/hero-carousel";

const images = [
  { src: "/renders/render-1.png", alt: "Modulara Render 1", width: 3840, height: 2160 },
  { src: "/renders/render-2.png", alt: "Modulara Render 2", width: 3840, height: 2160 },
  { src: "/renders/render-3.png", alt: "Modulara Render 3", width: 3840, height: 2160 },
  { src: "/renders/render-4.png", alt: "Modulara Render 4", width: 3840, height: 2160 },
];

const optimizedImages = await Promise.all(
  images.map(async (image) => {
    const optimizedImage = await getImage({ src: image.src, format: "webp", width: image.width, height: image.height });
    return { src: optimizedImage.src, alt: image.alt };
  })
);
---

<BaseLayout title="Welcome to Modulara">
  <main class="relative">
    <div class="fixed z-20 mx-auto w-full">
      <Navbar client:only="react" />
    </div>
    <section class="relative h-screen bg-transparent" id="hero">
      <div class="fixed top-0 w-full bg-[#9B5841]">
        <HeroV2 images={optimizedImages} client:load />
      </div>
    </section>
    <div class="relative z-10">
      <About />
      <Features />
      <Models client:load />
    </div>
  </main>
</BaseLayout>
