---
import { TypographyH2 } from "@/components/ui/typography";
---

<section id="about" class="w-full bg-white px-4 md:px-28 py-10 md:py-[72px]">
  <div class="flex flex-col justify-center text-[#51362D] items-center text-center gap-3 mx-auto max-w-3xl">
    <label class="font-bold text-xs md:text-sm uppercase leading-6 tracking-[2px] opacity-50">
      Diseño a tu medida
    </label>
    <TypographyH2 className="tracking-tighter">
      Personaliza cada detalle. Crea el espacio perfecto para ti.
    </TypographyH2>
  </div>
</section>
